body{
    margin-top: 140px;
    text-align: center;
    font-family: 'Jua', sans-serif;
    background-image: url("img/1.png");
}

a{
    text-decoration: none;
    color : black;
    font-size: 30px;
    font-weight: 600;
    white-space: nowrap;
}

.title:first-child a{
    font-size: 50px;
}

#now{
    margin-bottom: 0;
}

#clock{
    margin-top: 0;
}

span{
    font-size: 20px;
}